@font-face {
  font-family: 'fugue-regular';
  src: url('./fonts/fugue-regular-webfont.woff2') format('woff2'),
    url('./fonts/fugue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv-bold-italic';
  src: url('./fonts/active-bold-italic-webfont.woff2') format('woff2'),
    url('./fonts/active-bold-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv-bold';
  src: url('./fonts/active-bold-webfont.woff2') format('woff2'),
    url('./fonts/active-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv-medium-italic';
  src: url('./fonts/active-medium-italic-webfont.woff2') format('woff2'),
    url('./fonts/active-medium-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv-medium';
  src: url('./fonts/active-medium-webfont.woff2') format('woff2'),
    url('./fonts/active-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv-italic';
  src: url('./fonts/active-regular-italic-webfont.woff2') format('woff2'),
    url('./fonts/active-regular-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv-regular';
  src: url('./fonts/active-regular-webfont.woff2') format('woff2'),
    url('./fonts/active-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
