.brand-logo {
  display: block;
  width: 124px;
  height: 44px;
  margin: 0;
  padding: 0;
  background-image: url('../../assets/managed.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}

.brand-logo-wide {
  width: 100%;
}
