.job-preview-container {
  .action-buttons {
    gap: 1rem;
    > button,
    a {
      flex: 1;
    }
  }
}

.contacts-container {
  ul.contact-list {
    list-style: none;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;

    li {
      display: flex;
      gap: 0.5rem;
      word-break: break-all;
      white-space: pre-wrap;

      .contact-info {
        flex: 1;
        padding-top: 6px;
      }
    }
  }
}
