.custom-switch.custom-switch-md {
  &.pl-2 .custom-control-label {
    padding-left: 0.75rem;
  }

  .custom-control-label {
    padding-left: 2rem;
    padding-bottom: 1.5rem;
  }

  .custom-control-label::before {
    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 3rem;
    border-color: #6622c9;
    background-color: #fff;
  }

  .custom-control-label::after {
    background-color: #6622c9;
    width: calc(1.5rem - 4px);
    height: calc(1.5rem - 4px);
    border-radius: calc(2rem - (1.5rem / 2));
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(1.5rem - 0.25rem));
  }

  .custom-control-input:checked:disabled ~ .custom-control-label::before {
    border-color: unset;
    background-color: #adb5bd;
  }
}
