#logout-user {
  color: #fff;
  background-color: #6622c9;
  border-color: #6622c9;
}

#request-auth-btn,
#verify-authy-btn {
  color: #fff;
  background-color: #548ce0;
  border-color: #548ce0;
}

.default-managed-brand-logo {
  background-image: url('../../assets/managed.svg') !important;
}
