.oauth-app-logo {
  display: block;
  height: 44px;
  width: 100%;
  min-height: 44px;
  margin: 20px auto;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.oauth-brand-logo {
  width: 100%;
  min-height: 44px;
  margin: 20px auto;
  background-position: center;
}

.oauth-integration-arrow {
  padding-right: 0;
}

.oauth-integration-cogs {
  padding-left: 0;
}
